<h3 class ="text-center">{{title}}</h3>
<br/>
<input type="text" calss = "form-control" [(ngModel)]="name" name="name" id="name">
<br/>
<br/>
<input type="text" calss = "form-control" [(ngModel)]="surname" id="surname" name="surname" >
<br/>
<br/>
<select name="select" id="select" [(ngModel)] = "select">
    <option value="Masculino">{{masculino}}</option>
    <option value="Femenino">{{femenino}}</option>
</select>
<br/>
<br/>
<input type="eamail" calss = "form-control" [(ngModel)]="email" id="email" name="email" >
<br/>
<br/>
<input type="text" calss = "form-control" [(ngModel)]="bond" name = "bond" id ="bond" >
<br/>
<br/>
<button class = "btn btn-primary" (click)="guardarDatos()">Mostrar nombre</button>
<br/>
<br/>
<p>{{name_nuevo}}</p>
<p>{{surname_nuevo}}</p>
<p>{{select_nuevo}}</p>
<p>{{email_nuevo}}</p>
<p>{{bond_nuevo}}</p>

<router-outlet></router-outlet>
